<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>github</key>
	<string>[78, 98, 68, 87, 64, 21, 73, 8, 7, 80, 83, 14, 87, 14, 68, 66, 90, 76, 47, 91, 86, 20, 83, 71, 27, 31, 112, 4, 18, 83, 95, 93, 69, 84, 65, 75, 38, 11, 64, 83]</string>
</dict>
</plist>
